body {
  padding-top: 5%;
}
.pixel {
  height: 1%;
  width: 1%;
  border: 2px solid black;
  border-collapse: inherit;
  border-radius: 5px 5px 5px 5px;
  padding: 1%;
  margin: ;
  float: left;;
  display:;

}
.container{
  height: 33em;
  width: 40em;
  border:;
  border-radius: 10px 10px 10px 10px;
  display: ;
  position: relative;
  margin: auto;
  /*margin-left: 25em;
  margin-left: 25em;
  margin-bottom: 10px;*/
}
.palette {
  height: 5em;
  width:17em;
  display: ;
  margin: auto;
  /*margin-left: 25em;
  margin-right: 25em;
  margin-top: 30%;*/
  position: relative;
  /*float: left;*/
}

.colors {
  height: 50px;
  width: 50px;
  border-radius: 30px 30px 30px;
  display: inline-block;;
  border: 2px solid black;
  margin: auto;
}
