/*body {;
}

.grid {
  padding: 15%
  border: solid black;
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: red;
  float: left;
  display: block;
}*/
body {
  padding-top: 5%;
}
.pixel {
  height: 20%px;
  width: 20%px;
  border: 2px solid black;
  border-collapse: inherit;
  border-radius: 5px 5px 5px 5px;
  padding: 1%;
  margin: 0%;
  float: left;;
  display: inline-block;

}
.container{
  height: 500px;
  width: 600px;
  border:
  border-radius: 10px 10px 10px 10px;
  display: inline-block;
  position: relative;
  margin-left: 25%;
  margin-left: 25%;
  margin-bottom: 10px;
}
.palette {
  height: 60px;
  width:500px;
  display: inline-block;
  margin-left: 25%;
  margin-right: 25%;
}

.colors {
  height: 50px;
  width: 50px;
  border-radius: 30px 30px 30px;
  display: inline-block;;
  border: 2px solid black;
  margin: auto;
}
